<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">John Henderson provides all real estate agency services, including:</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Buyer Agency</h4>
                    <p class="text-muted">Buying a home will be the largest financial decion many marylanders will every make. The process can be hard to understand and often complicated by the abundance of information. You want to have an agent who knows the process and who can come alongside you to represent your interests to ensure your new home will be the perfect setting to start the next chapter in your life story.</p>
                </div>
              
                
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Seller Agency</h4>
                    <p class="text-muted">Selling your home requires a keen understanding of the current real estate market and an ability to get the home seen by the right buyer. You want an agent who will give your home dedicated attention and who will ethically represent your interests. You want to scheudle as many open houses as possible and trust that when your agent hosts an open house they are selling your house and not using it to get attention for other homes in their brokerage.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Leasing Agency</h4>
                    <p class="text-muted">Leasing may be your best option depending on various factors and your specific life situations. You want an agent understands the rental market and who ethically repsects your needs and desires.</p>
                </div>
            </div>
        </div>
    </section>
